#houses {
  width: 600px;
  height: 800px;
  text-align: left;
  overflow: auto;
  margin: 10px;
}

.houseContainer {
  display: block;
  border: 1px solid gray;
  width: 570px;
  height: 165px;
  font-family: 'Lucida Sans';
  font-size: 12px;
  margin: 2px;
  padding: 2px;
}

.houseImage {
  width: 225px;
  height: 160px;
  float: left;
  margin: 2px;
}

p.header {
  font-size: 14px;
  font-weight: bold;
}

p.text {
  font-style: italic;
  font-size: 10px;
}
